* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 850px;
  margin: 30px auto;
  border: 2px solid #000;
  background-color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  padding: 20px;
}

.logo {
  align-items: center;
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
}

.logo-icon {
  height: 24px;
  width: 24px;
  border-radius: 4px;
  background-color: #000;
}

.nav {
  display: flex;

}

.nav a {
  color: #000;
  margin: 0 4px;
  font-weight: 500;
}

/* --- Hero --- */

.hero {
  
  text-align: center;
  padding: 40px 0;
  border-bottom: 2px solid #000;
}

.hero h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.hero p {
  color: #666;
  font-size: 14px;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1.3fr 1.4fr;
  border-bottom: 2px solid #000;
}

.projects-col {
  border-right: 2px solid #000;
}

.projects-col h2 {
  padding: 15px;
  font-size: 22px;
}

.project-item {
  padding: 12px 15px;
  border-top: 2px solid #000;
  font-size: 14px;
}

.experience-col {
  border-right: 2px solid #000;
}

.exp-block {
  padding: 15px;
}

.exp-block:not(:last-child) {
  border-bottom: 2px solid #000;
}

.exp-block h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.exp-block p {
  font-size: 13px;
  margin-bottom: 8px;
  line-height: 1.4;
}

.exp-block h3 {
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: bold;
}

.exp-block a {
  font-size: 13px;
}

.education-col {
  padding: 15px;
}

.education-col h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.education-col p {
  font-size: 13px;
  line-height: 1.4;
}

.courses-title {
  margin-top: 20px;
}

.courses-list {
  list-style-type: none;
  margin-top: 10px;
}

.courses-list li {
  font-size: 13px;
  line-height: 1.5;
}

.reviews {
  padding-top: 20px;
  margin: 10px;
}

.reviews h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.reviews-grid {
  display: flex;
  gap: 15px;
}

.reviews-card{
  flex: 1;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 15px;
  font-size: 13px;
  line-height: 1.4;
}

.reviews-card p {
  color: #a0a0a0;
}


.footer {
  text-align: center;
  padding: 30px 0 40px 0;
  font-size: 14px;
}
